body{
    background: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}
.kurpes{
    
    text-align: center;
    font-size: 60px;
}
.klucis{
    z-index:-1;
    position: absolute;
    width: 250px;
    height: 70px;
    margin-left: 43%;
    margin-top: px;
    background: #D9D9D9;
}
.klucis2{
    position: absolute;
    z-index:-1;
    position: absolute;
    width: 161px;
    height: 90px;
    background: #D9D9D9;
    margin-left: 29%;
    margin-top: 50px;
}
.kurpes2{
    
    font-size: px;
    margin-left: 32%;
    margin-top: 100px;
}
.klucis3{
    z-index:-1;
    position: absolute;
    width: 255px;
    height: 85px;
    background: #D9D9D9;
    margin-left: 29%;
    margin-top: 100px;
}
.kurpes3{
    
    font-size: px;
    margin-left: 32%;
    margin-top: 125px;
}
.Nordstrom{
    z-index:-1;
    position: absolute;
    width: 400px;
    height: 280px;
    margin-left: 5%;
    margin-top: 20px;
    
}
.Aldo{
    z-index:-1;
    position: absolute;
    width: 400px;
    height: 300px;
    margin-left: 5%;
    margin-top: 50px;
}
.klucis4{
    position: absolute;
    width: 150px;
    height: 40px;
    margin-left: 88%;
    margin-top: 1%;
    background: #D9D9D9;
    z-index:-1;
}
.Sākums{
    position: absolute;
    margin-left: 88%;
    margin-top: 1%;
    font-size: 2em;
}

table{
    border: solid;
    position: absolute;
    margin-left: 70%;
    margin-top: -700px;
}
td{
    border: solid;
}