

/* Rectangle 5 no figmas*/
.tSturis5{
z-index: -1;
position:absolute;
width: 288px;
height: 97px;
margin-left:41% ;
top: 35px;
border:1px ;
background: #D9D9D9;
}
.tSturis5teksts{
    top:47px;
    position:absolute;
    margin-left:44.5% ;
    font-size: 2em;
}
/* Rectangle 7 */
.tSturis7{
z-index: -1;
position:absolute;
width: 300px;
height: 78px;
left: 80px;
top: 151px;
background: #D9D9D9;
}
.tSturis7teksts{
    top:172px;
    position:absolute;
    margin-left:12% ;
    font-size: 2em;
}
/* Rectangle 2 */

.tSturis2{
z-index: -1;
position: absolute;
width: 300px;
height: 78px;
left: 511px;
top: 151px;

background: #D9D9D9;
}
.tSturis2teksts{
    top:172px;
    position:absolute;
    margin-left:40% ;
    font-size: 2em;
    }