body {
    background: #00a0c4;
}

/* Rectangle 5 no figmas*/
.tSturis5{
position: absolute;
width: 288px;
height: 97px;
margin-left:41% ;
top: 35px;
border:1px ;
background: #D9D9D9;
}
.tSturis5teksts{
    top:47px;
    text-align: center;
    margin-left:30.5% ;
    font-size: 2em;
}
/* Rectangle 7 */
.tSturis7{
position: absolute;
width: 300px;
height: 78px;
left: 80px;
top: 151px;
background: #D9D9D9;
}
.tSturis7teksts{
    top:172px;
    position:absolute;
    margin-left:12% ;
    font-size: 2em;
}